<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Showing the map</title>

    <!-- Mapbox library imports -->
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>

    <script src=" https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <style>
      #map {
        width: 100%;
        height: 400px;
      }
    </style>

    <script type="text/javascript">
      let markers = [];
      let popups = [];
      let map = null;
      $(document).ready(function () {
        mapboxgl.accessToken =
          "pk.eyJ1IjoiaXFiYWxtcDk2IiwiYSI6ImNsYWtvdnA4MjAxN24zd3BvN2F5aGVqYm0ifQ.MaGNKKn_z7wTdRzvQmK-rg";
        map = new mapboxgl.Map({
          container: "map", // container ID
          center: [-122.420679, 37.772537], // starting position [lng, lat]
          zoom: 13, // starting zoom
          style: "mapbox://styles/mapbox/streets-v11", // style URL or style object
          hash: true, // sync `center`, `zoom`, `pitch`, and `bearing` with URL
          // Use `transformRequest` to modify requests that begin with `http://myHost`.
          transformRequest: (url, resourceType) => {
            if (resourceType === "Source" && url.startsWith("http://myHost")) {
              return {
                url: url.replace("http", "https"),
                headers: { "my-custom-header": true },
                credentials: "include", // Include cookies for cross-origin requests
              };
            }
          },
        });

        const nav = new mapboxgl.NavigationControl({
          visuallizePitch: true,
        });
        map.addControl(nav, "bottom-right");
      });

      function get_random_position() {
        let sign1 = Math.random() > 0.5 ? -1 : 1;
        let sign2 = Math.random() > 0.5 ? -1 : 1;
        return [
          -122.420679 + sign1 * Math.random(),
          37.772537 + sign2 * Math.random(),
        ];
      }

      function add_randomly() {
        let marker = new mapboxgl.Marker()
          .setLngLat(get_random_position())
          .addTo(map);
        console.log(marker);
        markers.push(marker);

        let popup = new mapboxgl.Popup({
          offset: {
            bottom: [0, -35],
          },
        })
          .setLngLat(get_random_position())
          .setHTML("<h1>Hello World!</h1>")
          .setMaxWidth("300px")
          .addTo(map);
        popups.push(popup);
      }

      function clear_elements() {
        for (let i = 0; i < markers.length; i++) {
          markers[i].remove();
        }
        for (let i = 0; i < popups.length; i++) {
          popups[i].remove();
        }
      }
    </script>
  </head>
  <body>
    <div id="map"></div>
    <button onclick="add_randomly()" type="button" class="btn btn-primary">
      Add marker and popup
    </button>
    <button onclick="clear_elements()" type="button" class="btn btn-secondary">
      Clear elements
    </button>
  </body>
</html>
